MedatoRExample/
obj/Debug/net8.0/MediatoRTestApi.AssemblyInfo.cs
obj/Debug/net8.0/MediatoRTestApi.AssemblyInfoInputs.cache
obj/Debug/net8.0/MediatoRTestApi.AssemblyInfo.cs
/obj
/obj
/obj/Debug/net8.0
