# Build klasörleri
bin/
obj/

# .NET-specific dosyalar
obj/**/*
bin/**/*

# Visual Studio ile ilgili geçici dosyalar
.vs/
.vscode/
.idea/

# Geçici dosyalar
*.user
*.suo
*.userosscache
*.sln.docstates

# Log dosyalarý
*.log

# Build ve Debug çýktý dosyalarý
*.dll
*.exe
*.pdb
*.cache